{% extends 'base.html' %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock%}

{% block content %}
<body>
    <div class="content">
        <div class="landing">
            <img 
                src="https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" 
                alt="foto-landing"
                class="landing--image"
            >
            <h2 class="landing--title"> Espacio Arquitectonico y urbano del siglo XIX</h2>
            <p class="landing--intro">...“Espacio arquitectónico en México”  es el resultado de la colaboración de estudiantes de la carrera de Arquitectura  en la  Facultad de Estudios Superiores Acatlán ,UNAM,  que tiene como objetivo : el conocimiento, la  difusión  y revalorización del patrimonio arquitectónico  del siglo XIX  y principios del siglo XX desarrollado en la Ciudad de México.</p>
            <p class="landing--sign">
                Arq. Rosa Alejandra Guzmán Martínez<br>
                Profesora de la Facultad de Estudios Superiores Acatlán. UNAM<br>
                Arquitectura<br>
            </p>
        </div>
    
        <main class="blog">
            <h3 class="blog__title">Edificios Principales</h3>

            <article class="entrada">
                <img 
                    src="https://espacioarquitectonicoenmexico.files.wordpress.com/2018/06/mineria-30.png" 
                    alt="imagen blog"
                    class="entrada__imagen"
                >
                <div class="entrada__info">
                    <h3 class="entrada__nombre">Palacio de Minería</h4>
                    <p class="entrada__contexto_historico">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Iste voluptas quos voluptatem earum expedita rerum velit id,
                        tenetur autem temporibus sunt, fuga sint a voluptates assumenda quisquam sequi, ducimus hic.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat nostrum velit praesentium modi illum neque nulla sunt incidunt. 
                        Impedit esse veniam eveniet cupiditate aperiam dolor dicta ab doloribus ullam maxime.
                    </p>
                </div>
                    

                <a href="entrada.html" class="entrada__boton boton boton--primario">Leer más</a>
            </article>
            <article class="entrada">
                <img 
                    src="https://espacioarquitectonicoenmexico.files.wordpress.com/2019/05/chopo-1.jpg?w=636&h=954" 
                    alt="imagen blog"
                    class="entrada__imagen"
                >
                <div class="entrada__info">
                    <h3 class="entrada__nombre">Museo Universitario del Chopo</h4>
                    <p class="entrada__contexto_historico">
                        El pensamiento del arquitecto consistía que el diseño debía ser más allá del estudio de la teoría y mas enfocado a la aplicación del acero ya que esto involucraba la modernidad con la que se estaba viviendo con el descubrimiento del acero y el cristal.
                    </p>
                    
                </div>

                <a href="entrada.html" class="entrada__boton boton--primario">Leer más</a>
            </article>
            <article class="entrada">
                <img 
                    src="https://espacioarquitectonicoenmexico.files.wordpress.com/2019/05/t.-juc3a1rez.jpg" 
                    alt="imagen blog"
                    class="entrada__imagen"
                >
                <div class="entrada__info">
                    <h3 class="entrada__nombre">Teatro Juárez</h4>
                    <p class="entrada__contexto_historico">
                        Su actividad minera fue la que determino su trazo urbano, y el crecimiento de su población hasta convertirse en un asentamiento importante, lo cual fue consecuencia de la creación de un teatro que denotara que Guanajuato era un ciudad importante en el concepto novo hispano, la cual llevo a la fundación del «Teatro Principal» en 1788, usado por artistas nacionales y extranjeros que visitaran la ciudad minera.
                    
                </div>
                </p>

                <a href="entrada.html" class="entrada__boton boton boton--primario">Leer más</a>
            </article>
            <article class="entrada">
                <img 
                    src="https://espacioarquitectonicoenmexico.files.wordpress.com/2018/05/casa-boker.jpg?w=662&h=496" 
                    alt="imagen blog"
                    class="entrada__imagen"
                >
                <div class="entrada__info">
                    <h3 class="entrada__nombre">Casa Boker</h4>
                    <p class="entrada__contexto_historico">
                        Desde el año 1614 la familia Boker fabricaba herramientas y las comercializaba en Remscheid Alemania. Enrique Boker fabricaba y vendía para Estados Unidos, Canadá, México, Sudamérica, Australia, Nueva Zelanda, Argentina y Chile.
                    </p>
                    
                </div>

                <a href="entrada.html" class="entrada__boton boton boton--primario">Leer más</a>
            </article>
        </main>

        <aside class="sidebar">
            <h3
                class="sidebar--subtitle"
            >
                Espacio urbano
            </h3>

            <aside class="sidebar--image_container">
                <img 
                src="https://images.unsplash.com/photo-1496016943515-7d33598c11e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXJiYW5vfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" 
                class="sidebar--image"
                alt="">
            </aside>
            <ul class="UrbanSpace">
                <a class="space" href="">
                    <span class="space--id">1</span>
                    <p class="space--name">Paseo de reforma</p>
                    <p class="space--location">Ubicado en: CDMX</p>
                    <p class="space--autor">Autor:Rosenzweig</p>
                </a>
                <a class="space" href="">
                    <span class="space--id">2</span>
                    <p class="space--name">Zócalo</p>
                    <p class="space--location">Ubicado en: CDMX</p>
                    <p class="space--autor"> -- </p>
                </a>
                <a class="space" href="">
                    <span class="space--id">3</span>
                    <p class="space--name">Colonia San Rafael</p>
                    <p class="space--location">Ubicado en: CDMX</p>
                    <p class="space--autor">Autor:Acosta Baltazar Josue</p>
                </a>
            </ul>

        </aside>
    </div>
    {% endblock %}
</body>
</html>