<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Santuario</title>

    <link rel="prefetch" href="nosotros.html" as="document">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preload" href="css/normaliza.css" as="style">
    <link rel="stylesheet" href="css/normaliza.css">

    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" as="font"
    crossorigin="crossoringin">



</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">

                    <h1 class="logo__nombre no-margin centrar-texto">Espacio MEXICO</h1>
                </a>
                
                <nav class="navegacion">
                    <!-- Estos van a ser links -->
                    <a href="nosotros.html" class="navegacion__enlace">Edificios</a>
                    <a href="cursos.html" class="navegacion__enlace">Espacios urbanos</a>
                    <a href="contacto.html" class="navegacion__enlace">Bibliografia</a>
                </nav>

            </div>

        </div>

        <div class="header__texto">
            <h2 class="no-margin"> Espacio Arquitectonico y urbano del siglo XIX</h2>
        </div>
    </header>

    <div class="contenedor contenidor-principal">
        <main class="blog">
            <h3>Edificios Principales</h3>

            <article class="entrada">
                <!-- <div class="entrada__imagen">
                    <img loading="lazy" src="img/blog1.jpg" alt="imagen blog">
                </div> -->

                <div class="entrada__contenido">
                    <h4 class="no-margin">Fabricas Universales</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Iste voluptas quos voluptatem earum expedita rerum velit id,
                        tenetur autem temporibus sunt, fuga sint a voluptates assumenda quisquam sequi, ducimus hic.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat nostrum velit praesentium modi illum neque nulla sunt incidunt. 
                        Impedit esse veniam eveniet cupiditate aperiam dolor dicta ab doloribus ullam maxime.</p>

                        <a href="entrada.html" class="boton boton--primario">Más información</a>
                </div>

            </article>


            <article class="entrada">
                <!-- <div class="entrada__imagen">
                    <img  loading="lazy" src="img/blog2.jpg" alt="imagen blog">
                </div> -->

                <div class="entrada__contenido">
                    <h4 class="no-margin"><!-- name -->Palacio de Mineria</h4>
                    <p> <!-- historical context -->Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Iste voluptas quos voluptatem earum expedita rerum velit id,
                        tenetur autem temporibus sunt, fuga sint a voluptates assumenda quisquam sequi, ducimus hic.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat nostrum velit praesentium modi illum neque nulla sunt incidunt. 
                        Impedit esse veniam eveniet cupiditate aperiam dolor dicta ab doloribus ullam maxime.</p>

                        <!-- Link url="/buildings/palacio-de-mineria/"" -->
                        <a href="entrada.html" class="boton boton--primario">Más información</a>
                </div>
                
            </article>


            <article class="entrada">
                <!-- <div class="entrada__imagen">
                    <img  loading="lazy" src="img/blog3.jpg" alt="imagen blog">
                </div> -->

                <div class="entrada__contenido">
                    <h4 class="no-margin"><!-- name -->Palacio de hierro</h4>
                    <p><!-- historical context -->Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Iste voluptas quos voluptatem earum expedita rerum velit id,
                        tenetur autem temporibus sunt, fuga sint a voluptates assumenda quisquam sequi, ducimus hic.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat nostrum velit praesentium modi illum neque nulla sunt incidunt. 
                        Impedit esse veniam eveniet cupiditate aperiam dolor dicta ab doloribus ullam maxime.</p>

                        <!-- Link url="/buildings/palacio-de-hierro/"" -->
                        <a href="entrada.html" class="boton boton--primario">Más información</a>
                </div>
                
            </article>


        </main>
        <aside class="sidebar">
            <h3>Espacio urbano</h3>
            <!-- urbanism -->
            <ul class="cursos no-padding">
                <li class="widget-curso">
                    <h4 class="no-margin"><!-- name -->Paseo de reforma</h4>
                    <p class="widget-curso__label"><!-- ubicacion --> Ubicado en:
                        <span class="widget-curso__info">CDMX                        </span>
                    </p>
                    <p class="widget-curso__label"><!-- urban_space.biograbhy.name --> Autor:
                        <span class="widget-curso__info"> Rosenzweig </span>
                    </p>
                    <!-- Link url /urbanism/paseo_de_la_reforma/ -->
                    <a href="entrada.html" class="boton boton--secundario">Más información</a>


                </li>

                <li class="widget-curso">
                    <h4 class="no-margin">Zócalo</h4>
                    <p class="widget-curso__label">Dimensiones:
                        <span class="widget-curso__info">46,800 m2</span>
                    </p>
                    <p class="widget-curso__label">Ubicación:
                        <span class="widget-curso__info">CDMX</span>
                    </p>
                    <a href="entrada.html" class="boton boton--secundario">Más información</a>


                </li>
            </ul>

        </aside>
    </div>

    <footer class="footer">    
        <div class="contenedor">
            <div class="barra">
                <a href="logo" href="index.html">

                    <h1 class="logo__nombre no-margin centrar-texto">El Santuario</span></h1>
                </a>
                
                <nav class="navegacion">
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>

            </div>

        </div>
    </footer>
    
</body>
</html>