<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&amp;family=Montserrat:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <title>Registro de usuario</title>
</head>
<body>
    <div class="container">
        <a class="container--return" href="{% url 'index' %}">Regresar a Inicio</a>
        <h1 class="container--title">Ingresar</h1>

        <form action="{% url 'login' %}" method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="container--button" placeholder="¡Entrar!"/>
            <p class="container--create-account">¿No tienes una cuenta? <a class="container--create-account__link" href="{% url 'register' %}">¡Crea una!</a></p>
        </form>
    </div>
</body>
</html>